# Node modules
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement
.env

# Fichiers systèmes
.DS_Store

# Fichiers de lock (tu peux garder l'un ou l'autre)
package-lock.json
yarn.lock
